<h1>User Details</h1>
<div class="sidenav">
  <mat-list role="list">
    <mat-list-item role="listitem">Created Events</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Bow Manufacturer</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Archery Profile</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">Organizer</mat-list-item>
  </mat-list>
  <div class="sidenav__content">
    <p>{{ "Asacura Makasika" }}</p>
    <p>jf9828h3f98-fhwuifh28HfH82-hfi9f8h2373</p>
    <p>asacura-makasika@mail.com</p>
    <button mat-stroked-button color="primary">{{ "Edit" }}</button>
    <button mat-stroked-button>{{ "Block" }}/{{ "Unblock" }}</button>
    <button mat-stroked-button color="warn">{{ "Delete" }}</button>
    <!-- Tabs -->
  </div>
</div>
