<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ 'Archery Contest' }}</span>
    <span class="spacer"></span>
    <button
      *ngFor="let lang of languageList; trackBy: trackByLangs"
      (click)="changeLanguage(lang.code)">
      {{ lang.label }} ({{ lang.code | uppercase }})
    </button>
    <span class="spacer"></span>
    <a mat-button [routerLink]="UserRoutes.Root">
      <mat-icon
        aria-hidden="false"
        aria-label="Manage icon"
        fontIcon="manage_accounts"
        >manage_accounts</mat-icon
      >
      {{ 'navigation.manageUsers' | transloco }}
    </a>
  </mat-toolbar-row>
</mat-toolbar>
