<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'Archery Contest' }}</span>
    <span class="spacer"></span>
    <select (change)="updateLocale($event)" class="lang-selector">
      <option
        *ngFor="let l of localeService.locales"
        [value]="l.value"
        [selected]="l.value === localeService.locale">
        {{ l.label }}
      </option>
    </select>
  </mat-toolbar-row>
</mat-toolbar>
