<h1>{{ 'contest.titles.createContest' | transloco }}</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- Name -->
  <mat-form-field class="form-group">
    <mat-label>{{ 'contest.fields.name.title' | transloco }}</mat-label>
    <input
      matInput
      type="text"
      formControlName="name"
      [placeholder]="'contest.fields.name.placeholder' | transloco"
      autocomplete="false" />
    <mat-error *ngIf="form.controls['name'].hasError('required')">
      {{ 'contest.fields.name.validator.required' | transloco }}
    </mat-error>
    <mat-error *ngIf="form.controls['name'].hasError('minlength')">
      {{ 'contest.fields.name.validator.minLength' | transloco }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <mat-label>{{ 'contest.fields.description.title' | transloco }}</mat-label>
    <textarea
      matInput
      type="text"
      formControlName="description"
      [placeholder]="'contest.fields.description.placeholder' | transloco"
      autocomplete="false"></textarea>
  </mat-form-field>
  <!-- Hidden -->
  <div class="form-group">
    <mat-slide-toggle formControlName="hidden">
      {{ isHiddenTranslationPath | transloco }}
    </mat-slide-toggle>
  </div>
  <div class="form-group">
    <button mat-flat-button type="button" (click)="submitCancelled()">
      {{ 'common.cancel' | transloco }}
    </button>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      {{ 'common.submit' | transloco }}
    </button>
  </div>
</form>
