<div
  class="app-wrapper"
  [class.is-mobile]="mobileQuery.matches"
  *transloco="let t">
  <app-header [sidenav]="sidenav"></app-header>
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="mobileQuery.matches ? 'false' : 'true'">
      <app-navigation></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
