.settings-bar {
  display: flex;
  align-items: center;
}

table {
  tr {
    position: relative;

    &.blocked {
      background: rgba(#000, 0.05);
    }
  }
}

.table-user-icon {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 16px;
  opacity: 0.5;
}

.mat-column-buttons {
  [mat-button] {
    min-width: auto;
    margin-left: 0;
    padding: 0 10px;
  }
}
