<h1>{{ 'userManage.title' | transloco }}</h1>
<ng-container *ngIf="isItemsInitialized">
  <ng-container *ngIf="isItemsExist; else noUsersTemplate">
    <div class="settings-bar">
      <mat-form-field appearance="standard">
        <mat-label>{{ 'common.filter' | transloco }}</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input />
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-stroked-button [disabled]="!isSelectedItems">
        {{ 'common.block' | transloco }}
      </button>
      <button mat-stroked-button [disabled]="!isSelectedItems">
        {{ 'common.edit' | transloco }}
      </button>
      <button mat-stroked-button [disabled]="!isSelectedItems" color="warn">
        {{ 'common.delete' | transloco }}
      </button>
      <span class="spacer"></span>
      <mat-form-field appearance="standard">
        <mat-label>{{
          'userManage.users_list.select_user_status' | transloco
        }}</mat-label>
        <select matNativeControl (change)="userStatusChanged($event)">
          <!-- TODO: Make translations for ngFor below -->
          <option
            *ngFor="let status of userStatuses; trackBy: trackByUserStatus"
            [value]="status.value"
            [selected]="handleSelectedUserStatus(status)">
            {{ status.viewValue }}
          </option>
        </select>
      </mat-form-field>
    </div>

    <table
      mat-table
      [dataSource]="usersDataSource"
      matSort
      class="mat-elevation-z8">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="handleToggleAllRows($event)"
            [checked]="isAllRowsSelected"
            [indeterminate]="isNotAllRowsSelected"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="toggleSelectedRow($event, row)"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'userManage.users_list.name' | transloco }}
        </th>
        <td mat-cell *matCellDef="let user">
          <a mat-button [routerLink]="[user._id]">
            {{ user.name }}
          </a>
          <mat-icon *ngIf="getUserRole(user).admin" class="table-user-icon">
            stars
          </mat-icon>
          <mat-icon *ngIf="getUserRole(user).moderator" class="table-user-icon">
            security
          </mat-icon>
          <mat-icon *ngIf="user.blocked" class="table-user-icon">
            block
          </mat-icon>
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'userManage.users_list.email' | transloco }}
        </th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'userManage.users_list.created' | transloco }}
        </th>
        <td mat-cell *matCellDef="let user">
          {{ user.createdAt | date: 'medium' }}
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef>{{ '' }}</th>
        <td mat-cell *matCellDef="let user" class="align-right">
          <button mat-button class="blocked-label">
            <!-- TODO: Make translations for string below -->
            {{ user.blocked ? 'Unblock' : 'Block' }}
          </button>
          <button mat-button color="primary" [routerLink]="[user._id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn">
            <mat-icon (click)="onDeleteUser(user._id)">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ blocked: row.blocked }"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          {{ 'common.no_data_matching_filter' | transloco }} "{{ input.value }}"
        </td>
      </tr>
    </table>

    <!-- TODO: Translate the paginator -->
    <mat-paginator [pageSizeOptions]="AppConstants.PAGE_SIZE_OPTIONS">
    </mat-paginator>
  </ng-container>
  <ng-template #noUsersTemplate>{{
    'userManage.users_list.no_users' | transloco
  }}</ng-template>
</ng-container>
