.container {
  position: relative;
  min-width: 320px;
  padding: 30px 15px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.align-right {
  text-align: right;
}

.spacer {
  flex-grow: 1;
}

.label-danger {
  color: red;
}

.label-success {
  color: green;
}

button {
  + button {
    &.mat-button,
    &.mat-icon-button,
    &.mat-stroked-button,
    &.mat-flat-button {
      margin-left: 10px;
    }
  }
}
